


<div class="row">
  <div class="col-sm-6">
    <div style='width: 550px;'>
      <div id="map" style='width: 550px; height: 600px;'></div>
    </div>
  </div>
  <div class="col-sm-6">
    <% @posts.each do |post| %>
    <div class="row">
      <div class="col-sm-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><%= post.title %></h3>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-xs-12 col-sm-6 col-md-9">
                <ul class="list-unstyled">
                  <li><%= post.category.name if post.category %></li>
                  <li><%= post.locality.name if post.locality %> - <%= post.city %> </li>
                </ul>
                <p><%= post.description %></p>
                <!--<p><%#= post.created_at %></p>-->
              </div>
              <div class="col-xs-4 col-md-3">
                <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
                <p>Ph: <%= post.mobile_no %></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% end %>
    <!--<div class="row">-->
      <!--<div class="col-sm-12">-->
        <!--<div class="panel panel-default">-->
          <!--<div class="panel-heading">-->
            <!--<h3 class="panel-title">Panel title</h3>-->
          <!--</div>-->
          <!--<div class="panel-body">-->
            <!--<div class="row">-->
              <!--<div class="col-xs-12 col-sm-6 col-md-9">-->
                <!--<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>-->
              <!--</div>-->
              <!--<div class="col-xs-4 col-md-3">-->
                <!--<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="row">-->
      <!--<div class="col-sm-12">-->
        <!--<div class="panel panel-default">-->
          <!--<div class="panel-heading">-->
            <!--<h3 class="panel-title">Panel title</h3>-->
          <!--</div>-->
          <!--<div class="panel-body">-->
            <!--<div class="row">-->
              <!--<div class="col-sm-3">-->
                <!--<img alt="100x100" class="img-thumbnail" data-src="holder.js/200x200" style="width: 100px; height: 100px;" src="">-->
              <!--</div>-->
              <!--<div class="col-sm-9">-->
                <!--<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="row">-->
      <!--<div class="col-sm-12">-->
        <!--<div class="panel panel-default">-->
          <!--<div class="panel-heading">-->
            <!--<h3 class="panel-title">Panel title</h3>-->
          <!--</div>-->
          <!--<div class="panel-body">-->
            <!--<div class="row">-->
              <!--<div class="col-sm-3">-->
                <!--<img alt="100x100" class="img-thumbnail" data-src="holder.js/200x200" style="width: 100px; height: 100px;" src="">-->
              <!--</div>-->
              <!--<div class="col-sm-9">-->
                <!--<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->

    <!--<div class="row">-->
      <!--<div class="col-xs-12 col-sm-6 col-md-9">-->
        <!--<h2>Heading</h2>-->
        <!--<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>-->
      <!--</div>-->
      <!--<div class="col-xs-4 col-md-3">-->
        <!--<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="row">-->
      <!--<div class="col-xs-12 col-sm-6 col-md-9">-->
        <!--<h2>Heading</h2>-->
        <!--<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>-->
      <!--</div>-->
      <!--<div class="col-xs-4 col-md-3">-->
        <!--<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="row">-->
      <!--<div class="col-xs-12 col-sm-6 col-md-9">-->
        <!--<h2>Heading</h2>-->
        <!--<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>-->
      <!--</div>-->
      <!--<div class="col-xs-4 col-md-3">-->
        <!--<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="row">-->
      <!--<div class="col-xs-12 col-sm-6 col-md-9">-->
        <!--<h2>Heading</h2>-->
        <!--<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>-->
      <!--</div>-->
      <!--<div class="col-xs-4 col-md-3">-->
        <!--<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>-->
      <!--</div>-->
    <!--</div>-->
    <%= will_paginate @posts %>
  </div>

</div>