<!DOCTYPE html>
<html>
<head>
  <title>Service</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap -->
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>


  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="../../assets/js/html5shiv.js"></script>
  <script src="../../assets/js/respond.min.js"></script>
  <![endif]-->
</head>
<body>

<%# if user_signed_in? %>
    <!--Logged in as <strong><%#= current_user.email %></strong>.-->
    <%#= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
    <%#= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
<%# else %>
    <%#= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
    <%#= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
<%# end %>


<%= render :partial => "layouts/header" %>

<div class="container">

  <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, :id => "flash#{name}",:class=>"alert alert-success" %>
  <% end %>
  <%= yield %>
  <hr>

  <footer>
    <p>&copy; Company 2013</p>
  </footer>
</div> <!-- /container -->





</body>
</html>